# Config file (important data)

# System files (MacOS)
.DS_Store
.AppleDouble
.LSOverride

# Icon file attributes and files that must be ignored
# Icon?
# ._*

# System file (Windows)
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# **/.DS_Store
untitled folder/
ESP32Server/
ESP32ArduinoDev/
embedded/base.txt

config.h

# Attribute files
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Spotlight files
.Spotlight-V100

# System information files
.AppleDB
.AppleDesktop
.apdisk

# Ignores for C and C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.out
*.gch
*.pidb
*.iobj
*.ipdb
*.tmp
*.tlog
*.log
*.ilk
*.res
*.exp
Debug/
Release/
.vs/
*.opendb
*.VC.db

# Ignores for Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.pyc

# Virtual Environment
venv/
ENV/

# Jupyter
.ipynb_checkpoints


#Platformio
.pio/
.pioenvs/
.piolibdeps/
.platformio/
.vscode/

# Ignores for CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.make
*.cmake

# Ignores for Docker
*.log
docker-compose.override.yml

# Ignores for Embedded Development
build/
*.hex
*.elf
*.bin
*.map

# ROS specific ignores
devel/
build/
logs/
src/CMakeLists.txt

# Gazebo simulation ignores
*.log
*.state
log/

# Personal IDE or tool configuration files
*.launch
.settings/
*.sublime-workspace

# Files containing sensitive information
config.h
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules
/bower_components

# Build files
/dist
/tmp
/out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Development environment files
# General
.vscode/
.idea/
*.swp
*.swo
*.sublime*
project.pbxproj