# Ігнорувати всі .txt файли
# *.txt

# Ігнорувати конкретну директорію
backup/

# Ігнорувати всі файлові директорії, крім директорії `public`
# **/*
# !public/

# Ігнорувати файл Dockerfile та .dockerignore
# Dockerfile
# .dockerignore

# Ігнорувати директорію з логами
# logs/

# Ігнорувати тимчасові файли та директорії
# tmp/
# *.tmp
# *.swp
